/*Estilos para la pagina del ciclo del agua */

/*Selector Universal*/
*{
    padding: 0;
    margin: 0;
}

/*Selectores de Etiqueta*/
body {
    background-color: #f1ecea;
    color: white;
    text-align: justify;
}

/* Selector de Clase */
img {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    margin: 10px 5px 10px 5px;
    border-color: white;

}
.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding:  20px;
    
}
.encabezado-pagina{
    padding: 50px;
    text-align: center;
    font-size: 60px;
}
.encabezado-articulo {
    padding: 20px 25px;
    text-align: justify;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    border-radius: 5px;
}
.ecabezado-aside{
    padding: 10px;
    text-align: center;
    color: white;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu-aside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 1PX 105px;
}
.lista-aside {
    padding: 5px;
}
.list-aside{
        display: list-item;
        list-style: square;
        text-align: left;
        margin: 0em;
        padding: 3px 3px; 
        text-decoration: underline; 
}

/* Selector ID */
#contenedor{
    width: 900px;
    height: 1000px;
    max-width: 0 auto;
    border-radius: 5px;
}
#encabezado {
    height: 15%;
    background-color:#3a251c ;
    padding:  0 50px;
    border-radius: 5px;
}

#menu {
    height: 5%;
    background-color:#b46424;
    border-radius: 5px;
}

#contenido{
    height: 70%;
    width: 64%;
    background-color:#362f2f ;
    display: inline-block;
    text-align: center;
}

#fueraSeccion {
    height: 70%;
    width: 35%;
    background-color: #b58c7c;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#pie {
    height: 10%;
    background-color:#3a251c ;
    text-align: center;
    padding: 5px;
}

/* Selector de etiqueta */
ul {
   padding: 15px;
   font-size: 20px; 
   text-decoration: underline;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 2em;
}

/* Selector de evento */

li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;

}