@font-face {
    font-family: 'mifuente'; /* Nombre de la fuente */
    src: url('/fonts/SunsetBoulevard-Regular.woff2') format('woff2'), /* Formato WOFF2 */
        url('/fonts/SunsetBoulevard-Regular.woff') format('woff');
}
/*Estilos para la pagina del ciclo del agua */

/*Selector Universal*/
*{
    padding: 0;
    margin: 0;
}

/*Selectores de Etiqueta*/
body {
    background-color: #f1ecea;
    color: white;
    background-image: url("/img/fondo.jpg");
    text-align: justify;
}

/* Selector de Clase */
img {
    height: 100px;
    width: 100px;
    
    margin: 10px 5px 10px 5px;
    border-color: white;

}
.texto {
    text-align: justify;
    font-family: s;
    font-size: 15px;
    padding:  20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.encabezado-pagina{
    padding: 50px;
    text-align: center;
    font-size: 60px;
    font-family: 'mifuente';
}
.encabezado-articulo {
    padding: 20px 25px;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    border-radius: 5px;
}
.encabezado-p {
    padding: 0px 25px;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}
.ecabezado-aside{
    padding: 10px;
    text-align: center;
    color: white;
    font-family:'mifuente';
}
.menu-aside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 1PX 105px;
}
.lista-aside {
    padding: 5px;
}
.list-aside{
        display: list-item;
        list-style: square;
        text-align: left;
        margin: 0em;
        padding: 3px 3px; 
        text-decoration: underline; 
}

/* Selector ID */
#contenedor{
    width: 1000px;
    height: 1300px;
    max-width: 0 auto;
    border-radius: 5px;
}
#encabezado {
    height: 15%;
    background-color:#F6DF21;
    padding:  0 50px;
    border-radius: 5px;
}

#menu {
    height: 5%;
    background-color:white;
    border-radius: 5px;
}

#contenido{
    height: 70%;
    width: 64%;
    background-color:gray ;
    display: inline-block;
    text-align: center;
}

#fueraSeccion {
    height: 70%;
    width: 35%;
    background-color:#F89F27;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#pie {
    height: 10%;
    background-color: #F6DF21 ;
    text-align: center;
    padding: 5px;
}

/* Selector de etiqueta */
ul {
   padding: 15px;
   font-size: 20px; 
   text-decoration: underline;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 2em;
}

/* Selector de evento */

li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;

}

